$off-black: #20222b;
$off-white: #a5afd7;
$dark: #3c4351;
$light-blue: #464b5e;
$dark-blue: #333745;
$purple: #8357c5;
$purple-dark: #432d65;
$white: #fff;
$primary: #23b7e5;
$secondary: #6363fd;

$xs-size: 0.9rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
