.card {
	box-shadow: 0px 0px 10px 0px #ddd;
}


body {
	background-color: #f0f2f5 !important
}

.wrapper {
	.section-container {
		background-color: transparent;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.spinner-fullscreen {
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
	top: 0;
	background: rgba(0, 10, 20, 0.6);
	align-items: center;
	justify-content: center;
	z-index: 999999;
}

.footer-container {
	background: #fff;
	z-index: 114 !important
}
