#init-project {
	.steps-content {
		margin: 20px 0px;
		border: 1px dashed #ddd;
		border-radius: 6px;
		background-color: #fafafa;
		min-height: 200px;
		padding: 10px 20px;
	}

	.steps-action {
		margin-top: 24px;
	}
}
